alembic==1.4.3
amply==0.1.4
app==0.0.1
appdirs==1.4.4
astroid==2.4.2
Authlib==0.15.3
bcrypt==3.2.0
blinker==1.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
Controllers==0.9.0
cors==0.9.7
coverage==5.3.1
cryptography==3.3.1
cycler==0.10.0
distlib==0.3.1
docutils==0.17
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.10
Flask-HTTPAuth==4.2.0
Flask-JWT-Extended==3.25.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-Migrate==2.7.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.0
future==0.18.2
gevent==21.1.2
greenlet==1.0.0
gunicorn==20.0.4
idna==2.10
importlib-metadata==4.0.1
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
Mako==1.1.4
MarkupSafe==1.1.1
marshmallow==3.9.1
matplotlib==3.3.3
mccabe==0.6.1
MyApplication==0.1.0
mysql-connector-python==8.0.23
numpy==1.19.3
Pillow==8.0.1
protobuf==3.14.0
PuLP==2.4
pycparser==2.20
PyJWT==1.7.1
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
requests==2.25.1
requests-file==1.5.1
scipy==1.6.1
six==1.15.0
SQLAlchemy==1.3.20
tldextract==3.1.0
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.3
virtualenv==20.1.0
waitress==1.4.4
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
zope.event==4.5.0
zope.interface==5.2.0
