<body>
<header>
    <nav>
        <div class="area">
            <a onclick = 'location.href="/home"' class="homebtn">Home</a>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa fa-bars"></i>
            </label>
            <ul>
                <li><a onclick = 'location.href="/blog"'>Blog</a></li>
                <li><a (click)="getUserId()">Profile</a></li>
                <!--            <li><a href="sign-up.html">Sign Up</a></li>-->
                <li><a onclick = 'location.href="/login"'>Sign In</a></li>
                <li><a onclick = 'location.href="/about"' class="active">About</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="logo">
        <h1>NARRATOR</h1>
        <h2>Articles, Stories & Inspiration</h2>
    </div>
    <div class="blackline"></div>
    <div class="text-about-us">
        <h1>About us</h1>
        <p>Narrator is the proven platform to outsource your content creation quickly and easily.
            Always get the exact content you need.
        </p>
        <h1>DO YOU NEED WRITERS TO CREATE UNIQUE CONTENT?</h1>
        <p>
            Let Narrator take care of it! As the pioneer among content platforms, we offer flexible solutions for content creation.
            Whether you need captivating blog posts, straightforward product descriptions or snappy advertising
            copy – our online platform has thousands of reliable, verified US
            authors who write articles that are optimized for search engines.
        </p>
    </div>
</main>
<footer></footer>
</body>
