<body>
<header>
    <nav>
        <div class="area">
            <a onclick = 'location.href="/home"' class="homebtn">Home</a>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa fa-bars"></i>
            </label>
            <ul>
                <li><a onclick = 'location.href="/blog"'>Blog</a></li>
                <li><a (click)="getUserId()">Profile</a></li>
                <li><a onclick = 'location.href="/login"'>Sign In</a></li>
                <li><a onclick = 'location.href="/about"'>About</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="logo">
        <h1>NARRATOR</h1>
        <h2>Articles, Stories & Inspiration</h2>
    </div>
    <div class="blackline"></div>
    <div class="block_article_info">

        <div class="info">
            <div class="article_title">{{title}}</div>
<!--            <p>Author: Bill Clinton, Published: Yesterday</p>-->
            <div class="article_text">{{text}}</div>
        </div>
<!--        <img src="../resources/images/img1.jpg" class="article-mainimg"/>-->
    </div>
</main>
<footer></footer>
</body>
