*{
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body{
    margin: 0;
    font-family: "Bookman Old Style", serif;
    letter-spacing: 2px;
    background: rgb(124,148,115);
    background: linear-gradient(45deg, rgba(124,148,115,1) 0%, rgba(196,235,183,1) 50%, rgba(242,255,238,1) 100%);
    background-repeat: no-repeat;
  height: 100vh;
    background-attachment: fixed;
}
.header-container{
    margin: auto;
    width: 80%;
}
.logo {
    display: inline-block;
    text-align: left;
    color: #1e251a;
}
.logo h1{
    font-family: "Baskerville Old Face", serif;
    font-size: 30px;
    letter-spacing: 3px;
}
.logo h2{
    margin-top: -20px;
    font-family: "Monotype Corsiva", serif;
    font-size: 15px;
    letter-spacing: 0.8px;
}
a{
    float: right;
    align-self: center;
    color: black;
    padding: 10px 0;
    margin: 30px 0 0 0;
    font-size: 18px;
    cursor: pointer;
}
h3{
    font-size: 35px;
    text-align: center;
    font-weight: normal;
}
.main{
    margin: auto;
    width: 500px;
}
.font{
    font-family: "Bookman Old Style", serif;
    letter-spacing: 2px;
}
input[type=text], input[type=password], input[type=email] {
    font-size: 18px;
    width: 100%;
    padding: 15px 0;
    margin: 0 0 30px;
    display: inline-block;
    border: none;
    color: black;
    background: none;
    border-bottom: 2px solid black;
    cursor: pointer;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #dffbd6;
    outline: none;
}
::placeholder {
    color: black;
}
button {
    display: inline-block;
    color: white;
    background-color: #7c9473;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 0 5px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin: 10px 30%;
}
.inline{
    font-size: 18px;
    text-align: center;
    display: flex;
}
.inline p{
    margin: 10px 0 20px;
}
.inline a{
    margin-top: -10px;
}
/*@media screen and (max-width: 720px) {*/
/*    .header-container{width: 80vw;}*/
/*    main{width: 80vw;}*/
/*}*/
@media screen and (max-width: 720px) {
    .header-container{width: 85%;}
    main{width: 85vw;}
    .logo h1{font-size: 25px;}
    .logo h2{font-size: 10px;}
    h3{font-size: 25px;}
    input[type=text], input[type=password], input[type=email]{
        font-size: 18px;
        padding: 20px 0;
    }
    /*a{font-size: 18px;}*/
}
/*@media screen and (max-height: 480px) and (min-height: 200px) {*/
/*    input{font-size: 16px;}*/
/*}*/
