<body>
<header>
    <div class="header-container">
        <div class="logo">
            <h1>NARRATOR</h1>
            <h2>Articles, Stories & Inspiration</h2>
        </div>
        <a href="#" onclick="history.back();return false;">GO BACK</a>
        <h3>Sign in</h3>
    </div>
</header>
<div class="main">
<!--  <form (submit)="login()">-->
<!--    <input type="text" class="font" placeholder="Username" name="username" id="username" [(ngModel)]="credentials.username" required #username>-->
<!--    <input type="password" class="font" placeholder="Password" name="psw" id="psw" [(ngModel)]="credentials.password" required #password>-->
  <form >
    <input type="text" class="font" placeholder="Username" name="username" id="username"  required #username>
    <input type="password" class="font" placeholder="Password" name="password" id="password"  required #password>
  <div class="inline">
        <p>Don't have an account?</p>
        <a onclick = 'location.href="/register"'>Sign up</a>
    </div>
    <button type="submit" class="font" (click)="onSubmit(username, password)">Continue</button>
    </form>
</div>
</body>
